.player-card-image {
  background-image: url('/home/projects/stackblitz-starters-gvtolb/src/assets/avatar.jpg');
  background-size: cover;
  width: 64px; /* Adjust as needed */
  height: 64px; /* Adjust as needed */
  border-radius: 50%; /* Makes it circular */
}
