<form [formGroup]="settingsForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="settings-card">
        <mat-card-title>Alliances</mat-card-title>
        <mat-card-content>
            <div class="row">
                <div class="col full-width">
                    <mat-list>
                        <mat-list-item
                            *ngFor="let alliance of savedAlliances"
                            class="alliance-radio-button"
                        >
                            <div matListItemTitle>
                                {{ getAllianceString(alliance) }}
                            </div>
                            <div matListItemLine>
                                <span>{{ alliance.firstRaid * 1000 | date }}</span> -
                                <span>{{ alliance.lastRaid * 1000 | date }}</span>
                            </div>
                            <div matListItemMeta>
                                <button mat-stroked-button>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="24"
                                        viewBox="0 -960 960 960"
                                        width="24"
                                    >
                                        <path
                                            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Primary Alliance</mat-label>
                        <mat-select
                            formControlName="selectPrimary"
                            [(value)]="alliance.primary"
                            [errorStateMatcher]="matcher"
                            multiple
                        >
                            <mat-option *ngFor="let r of races" [value]="r">{{
                                r
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Secondary Alliance</mat-label>
                        <mat-select
                            formControlName="selectSecondary"
                            [(value)]="alliance.secondary"
                            [errorStateMatcher]="matcher"
                            multiple
                        >
                            <mat-option *ngFor="let r of races" [value]="r">{{
                                r
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Tertiary Alliance</mat-label>
                        <mat-select
                            formControlName="selectTertiary"
                            [(value)]="alliance.tertiary"
                            [errorStateMatcher]="matcher"
                            multiple
                        >
                            <mat-option *ngFor="let r of races" [value]="r">{{
                                r
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <div class="button-row">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="saveAlliance()"
                >
                    Save
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="deleteAlliance()"
                >
                    Delete
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>
