

.settings-card {
  min-width: 120px;
  margin: 20px 6px;
}

 .slider {
  width:  800px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}


.mat-mdc-slider {
  width: 100%;
  min-width: 148px;
  
}

.slider-label-container {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  min-width: 148px;
}

